.product_list{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
    width: 100%;
}

@media (max-width: 960px) {
    .product_list{
        flex-wrap: wrap;
    }
}


@media (max-width: 420px) {
    .product_list{
        gap: 7px;
    }
}