.container {
    width: 100%;
    min-height: 65vh;
    padding: 20px 3rem;
}

.user_info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 3rem;
}

.user_info .left span:first-child {
    width: 8rem;
    text-align: center;
    height: 8rem;
    display: inline;
    font-size: 3rem;
    line-height: 8rem;
    border-radius: 50%;
    background: #232f3e;
    margin-bottom: 1rem;
}

.left {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: "Barlow", sans-serif;
    letter-spacing: 1px;
}

.right {
    font-family: "Barlow", sans-serif;
    letter-spacing: 1px;
    margin-bottom: 3rem;
}

.address {
    margin-bottom: 48px;
}

.address p {
    padding: 0;
    color: #ffffff94;
}

.right .address p span {
    font-weight: 700;
    color: #fff;
}

.horizontal {
    width: 100%;
    border-bottom: 1px solid #fff;
}

.shipping h5 {
    font-weight: 700;
    font-size: 1.1rem;
    margin-top: 3px;
    margin-bottom: 10px;
}

.shipping > :last-child {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ffffff5b;
    padding-bottom: 20px;
    position: relative;
    text-align: center;
    z-index: -1;
}

.shipping > :last-child span::before {
    content: "";
    position: absolute;
    width: 15px;
    height: 15px;
    background: #808080dd;
    border-radius: 50%;
    bottom: -0.5rem;
}

.shipping > :last-child span.success::before {
    background: rgb(73, 235, 73)
}


.shipping > :last-child span:first-child:before {
    left: 0;
}

.shipping > :last-child span:last-child:before {
    right: 0;
}

.table {
    width: 100%;
    min-height: 20vh;
    padding: 15px 0;
}

.table tr {
    border-bottom: 0.3px solid #ffffff70;
    display: table;
    padding: 5px 0;
    width: 100%;
    display: flex;
    align-items: center;
}

.table th {
    font-family: "Barlow", sans-serif;
    text-transform: capitalize;
    letter-spacing: 1px;
    text-align: left;
}

.table tr th,
.table tr td {
    width: 15%;
    padding: 0 5px;
}
.table tr th:first-child,
.table tr td:first-child {
    width: 15%;
}
.table tr th:nth-child(2),
.table tr td:nth-child(2) {
    width: 55%;
}

.table tr td img {
    width: 40px;
    height: 40px;
    object-fit: cover;
}

.table td:last-child {
    cursor: pointer;
    color: #ffffff8a;
}

.table td {
    color: #ffffff94;
    padding: 5px 0;
}

@media (min-width: 1100px) {
    .container {
        padding: 1rem 10rem;
    }

    .table tr th,
    .table tr td {
        width: 20%;
        padding: 0 5px;
    }
    .table tr th:first-child,
    .table tr td:first-child {
        width: 20%;
    }
    .table tr th:nth-child(2),
    .table tr td:nth-child(2) {
        width: 20%;
    }
}
@media (max-width: 1000px) {
    .row {
        gap: 30px;
    }

    .col_h6 {
        padding-right: 0;
    }
    .table tr th,
    .table tr td {
        width: 20%;
        padding: 0 5px;
    }
    .table tr th:nth-child(2),
    .table tr td:nth-child(2) {
        width: 35%;
    }
}

@media (max-width: 800px) {
    .row {
        flex-direction: column;
        gap: 30px;
        padding: 0px 1.5rem;
        box-sizing: border-box;
    }

    .user_info {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 3rem;
        margin-top: 2rem;
    }

    .shipping > :last-child span{
        font-size: 14px;
    }

    .col:first-child,
    .col:last-child {
        width: 100%;
    }

    .table tr th:nth-child(2),
    .table tr td:nth-child(2) {
        width: 40%;
        padding-left: 5px;
        white-space: nowrap;
    }
}

@media (max-width: 500px) {
    .container {
        padding: 0 10px;
    }

    .shipping > :last-child span{
        font-size: 12px;
    }

    .table tr th:nth-child(2),
    .table tr td:nth-child(2) {
        max-width: 40%;
        padding-left: 15px;
    }

    .table tr th:nth-child(4),
    .table tr td:nth-child(4) {
        max-width: 22%;
    }

    .table tr th,
    .table tr td {
        max-width: 15%;
    }

    .table tr th,
    .table tr td {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

@media (max-width: 330px) {
    .shipping > :last-child span{
        font-size: 10px;
    }
    .col:first-child,
    .col:last-child {
        width: 100%;
    }

    .table tr th:nth-child(2),
    .table tr td:nth-child(2) {
        max-width: 30%;
        padding-left: 10px;
    }
}
