.billing_form .input_group {
    border: 1px solid #000;
    margin: 8px 0;
    border-radius: 0.3rem;
    overflow: hidden;
}

.billing_form input {
    border: none;
    width: 100%;
    outline: none;
    height: 100%;
    padding: 7px 10px;
    background: #ffffffb3;
}
.billing_form input::placeholder {
    color: #000;
}

.row {
    display: flex;
    width: 100%;
    color: #fff;
    padding: 0 8rem;
    gap: 3rem;
    margin: 3rem 0;
}

.col:first-child {
    width: 70%;
}

.col:last-child {
    margin-top: 30px;
    width: 30%;
}
.col:first-child h6 {
    font-family: "Barlow", sans-serif;
    font-size: 1.3rem;
    margin: 0;
    padding: 10px 0;
    padding-top: 0;
    color: #355c8b;
    text-align: center;
}

.checkout_cart {
    padding: 20px;
    background: #232f3e;
    width: 100%;
    border-radius: 0.3rem;
}

.checkout_cart h6,
.checkout_cart h4 {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    letter-spacing: 1px;
    font-family: "Barlow", sans-serif;
}

.checkout_cart h6 {
    margin-bottom: 18px;
    font-size: 12px;
}
.checkout_cart h4 {
    border-top: 1px solid #ffffff38;
    padding-top: 20px;
    font-size: calc(16px + 0.2vw);
}

.checkout_cart button {
    background: #ffffffd3;
    color: #000;
    border: none;
    outline: none;
    border-radius: 0.3rem;
    width: 100%;
    margin-top: 30px;
    font-size: 1rem;
    padding: 5px 0;
    font-family: "Barlow", sans-serif;
    cursor: pointer;
}

.spinner {
    position: relative;
    width: 15.7px;
    height: 15.7px;
    margin: auto;
    top: 20rem;
}

.spinner div {
    animation: spinner-4t3wzl 1.875s infinite backwards;
    background-color: #474bff;
    border-radius: 50%;
    height: 100%;
    position: absolute;
    width: 100%;
}

.spinner div:nth-child(1) {
    animation-delay: 0.15s;
    background-color: rgba(71, 75, 255, 0.9);
}

.spinner div:nth-child(2) {
    animation-delay: 0.3s;
    background-color: rgba(71, 75, 255, 0.8);
}

.spinner div:nth-child(3) {
    animation-delay: 0.45s;
    background-color: rgba(71, 75, 255, 0.7);
}

.spinner div:nth-child(4) {
    animation-delay: 0.6s;
    background-color: rgba(71, 75, 255, 0.6);
}

.spinner div:nth-child(5) {
    animation-delay: 0.75s;
    background-color: rgba(71, 75, 255, 0.5);
}

@keyframes spinner-4t3wzl {
    0% {
        transform: rotate(0deg) translateY(-200%);
    }

    60%,
    100% {
        transform: rotate(360deg) translateY(-200%);
    }
}

@media (max-width: 1000px) {
    .row {
        padding: 0px 1.5rem;
        gap: 15px;
    }
}
@media (max-width: 800px) {
    .col:first-child {
        width: 65%;
    }

    .col:last-child {
        width: 35%;
    }
}
@media (max-width: 600px) {
    .row {
        padding: 0px 1.5rem;
        gap: 15px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .col:first-child,
    .col:last-child {
        width: 85%;
    }
}
@media (max-width: 420px) {
    .row {
        padding: 0 10px;
    }

    .col:first-child,
    .col:last-child {
        width: 100%;
    }
}
